.text-center
  %h1 Add Expense

  = show_error_message

  %form.spacer{ method: "post", role: "form" }
    .form-group
      %label{ for: "product" } Product:
      .col-xs-2.centered
        %input.form-control{ id: "product", type: "text", name: "product" }
    .form-group
      %label{ for: "description" } Description:
      .col-xs-2.centered
        %input.form-control{ id: "description", type: "text", name: "description" }
    .form-group
      %label{ for: "price" } Price:
      .col-xs-2.centered
        %input.form-control{ id: "price", type: "text", name: "price" }
    .form-group
      %label{ for: "date" } Date:
      .col-xs-2.centered
        %input.datepicker.form-control{ id: "date", type: "text", name: "date" }
    .form-group
      %label{ for: "category" } Category:
      .col-xs-2.centered
        %select.form-control{ id: "category", type: "text", name: "category" }
          - if @categories
            - @categories.each do |category|
              %option= category.name
    %button.btn.btn-default{ type: "submit" } Add
