%nav.navbar.navbar-default.navbar-inverse.navbar-static-top
  %a.navbar-brand{ :href => "/" } MyExpenses
  %ul.nav.navbar-nav
    %li
      %a{ href: "/categories" } Categories
    %li
      %a{ href: "/expenses" } Expenses

  %ul.nav.navbar-nav.navbar-right
    %li.right-spacer
      %a{ href: "/user/logout" } Logout
